# BINISHOP — FRONTEND ENVIRONMENT (local)

# --- API Medusa (port 3005 : 9000/9001 pris par MinIO) ---
API_BASE_URL=http://localhost:3005
API_STORE_URL=http://localhost:3005/store
API_ADMIN_URL=http://localhost:3005/admin

# --- Publishable API key (cle publique store, pas un secret) ---
PUBLISHABLE_API_KEY=pk_47dd9ad1e92866bc524bed6104f492b037252dbb3037a7ede0734da34990ca3c

# --- MinIO ---
MINIO_PUBLIC_URL=http://localhost:9000

# --- App ---
APP_NAME=BINISHOP
APP_ENV=development
DEFAULT_CURRENCY=EUR
DEFAULT_REGION=eu
DEFAULT_LOCALE=fr